@inherits LayoutComponentBase


<table colspacing="0" cellpadding="10">
    <tr>
        <td valign="top">
            <div>
                <ul>
                    <li>
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="page1">
                            <span aria-hidden="true"></span> page1
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="page2">
                            <span aria-hidden="true"></span> page2
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="page3">
                            <span aria-hidden="true"></span> page3
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="page4">
                            <span aria-hidden="true"></span> barcode
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="fetchdata">
                            <span aria-hidden="true"></span> Fetchdata
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="blog/All">
                            <span aria-hidden="true"></span> Blog All
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="blog/Coffee">
                            <span aria-hidden="true"></span> Blog Coffee
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="cart">
                            <span aria-hidden="true"></span> Cart
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="option">
                            <span aria-hidden="true"></span> Option
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="newoption">
                            <span aria-hidden="true"></span> New Option
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="getvalue">
                            <span aria-hidden="true"></span> Get Value
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="form">
                            <span aria-hidden="true"></span> 폼전송
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="vantest">
                            <span aria-hidden="true"></span> Kiosk 결제
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="signtest">
                            <span aria-hidden="true"></span> Kiosk 결제사인
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="printer">
                            <span aria-hidden="true"></span> Kiosk 프린터
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="settime">
                            <span aria-hidden="true"></span> Kiosk 시간 변경
                        </NavLink>
                    </li>
                </ul>
            </div>
        </td>
        <td valign="top">
            <div>
                @Body
            </div>
        </td>
    </tr>
</table>